/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* src/App.css */
.map-container {
  position: relative; /* The button will be centered relative to the map */
  height: 70%; /* Map takes up the remaining 70% */
  width: 100%;
}

.parking-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button on the map */
  padding: 15px 30px;
  background-color: #007bff; /* Button background color */
  color: white;
  border: none;
  border-radius: 50px; /* Rounded button */
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10; /* Ensure it's on top of the map */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.parking-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}