/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.login-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-info input {
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-page input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.login-page button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button:hover {
  background-color: #21a1f1;
}
.login-page, .signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-page input, .signup-page input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

.login-page button, .signup-page button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-page button:hover, .signup-page button:hover {
  background-color: #21a1f1;
}

.login-info button {
  padding: 8px 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #282c34;
  font-size: 16px;
}

.login-info button:hover {
  background-color: #21a1f1;
}

.login-button {
  padding: 8px 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #282c34;
  font-size: 16px;
}

.login-button:hover {
  background-color: #21a1f1;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* src/App.css */
.map-container {
  position: relative; /* The button will be centered relative to the map */
  height: 70%; /* Map takes up the remaining 70% */
  width: 100%;
}

.parking-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button on the map */
  padding: 15px 30px;
  background-color: #007bff; /* Button background color */
  color: white;
  border: none;
  border-radius: 50px; /* Rounded button */
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10; /* Ensure it's on top of the map */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.parking-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}